@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  /* Dark background color */
  background-color: #1a1a1a; /* Very dark gray */
  color: #e2e8f0; /* Light text for contrast */

  /* Grid pattern */
  background-image: repeating-linear-gradient(0deg, #2a2a2a 0px, #2a2a2a 1px, transparent 1px, transparent 50px),
    repeating-linear-gradient(90deg, #2a2a2a 0px, #2a2a2a 1px, transparent 1px, transparent 50px);
  background-size: 50px 50px; /* Size of each grid cell */
}
